<h1>Product: </h1>
<div class="product">
  <h2>{{products.title}}</h2>
  <p>{{products.description}}</p>
  <p>{{products.code}}</p>
  <p>{{products.price}}</p>
  <p>{{products.status}}</p>
  <p>{{products.category}}</p>
</div>